params {
    container = "np-core/jcov:latest"
    threads = 4
}

profiles {
    singularity {
        process.executor = "local"
        process.container = params.container
        singularity.enabled = true
        singularity.autoMounts = true
    }
    docker {
        process.executor = "local"
        process.container = params.container
        docker.enabled = true
    }
    zodiac {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "pbspro"
        process.container = params.container
    }
}

process {

    errorStrategy = "ignore"
    scratch = false

    withLabel: japsa {
        cpus = params.threads
        memory = "16G"
        time = "24h"
    }

}
