params {
    container = "np-core/jcov:latest"
    jcov_threads = 4
    jcov_memory = "8000m"
}

profiles {
    singularity {
        process.executor = "local"
        process.container = params.container
        singularity.enabled = true
        singularity.autoMounts = true
    }
    docker {
        process.executor = "local"
        process.container = params.container
        docker.enabled = true
    }
    zodiac {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "pbspro"
        process.container = params.container
    }
}

process {

    errorStrategy = "ignore"
    scratch = false

    withLabel: japsa {
        cpus = params.jcov_threads
        threads = params.jcov_memory
        time = "24h"
    }

}
